:root {
  --very-Dark-Magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-Grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

body {
  background-color: var(--light-grayish-magenta);
  color: var(--very-Dark-Magenta);
  font-family: "League Spartan";
  position: relative;
  display: grid;
  place-items: center;
  min-height: 90vh;
  overflow: hidden;
}

.bg-top {
  position: absolute;
  top: -90px;
  left: -90px;
  z-index: 0;
}

.bg-bottom {
  position: absolute;
  bottom: -250px;
  right: -110px;
  z-index: 0;
}

.page {
  max-width: 750px;
  display: grid;
}

.up-section {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  width: 250px;
}

.promise {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--dark-Grayish-magenta);
  width: 300px;
}

.ratings {
  margin-top: 20px;
}

.rate {
  display: flex;
  align-items: center;
  background-color: rgb(238, 229, 238);
  padding: 0 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: fit-content;
}

.rate.one {
  margin-left: 0;
}

.rate.two {
  margin-left: 2rem;
}

.rate.three {
  margin-left: 4rem;
}

.image {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.ratext {
  margin-left: 10px;
  font-weight: 700;
  font-size: 0.7rem;
}

.down-section {
  display: flex;
  gap: 1.1rem;
  margin-top: 30px;
  align-items: flex-start;
}

.review {
  background-color: var(--very-Dark-Magenta);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.7rem;
}

.review.one {
  margin-top: 0;
}
.review.two {
  margin-top: 0.6rem;
}
.review.three {
  margin-top: 1.2rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 0.75rem;
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.name {
  color: var(--light-grayish-magenta);
}

span {
  color: var(--soft-pink);
  display: block;
}

.reviexts {
  line-height: 0.85rem;
  color: var(--light-grayish-magenta);
}

@media (max-width: 430px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  html {
    background-color: var(--light-grayish-magenta);
  }

  body {
    overflow: visible;
    margin: 100px 0;
  }

  .bg-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .bg-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  .page {
    max-width: 95%;
  }

  .up-section {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  h2,
  .promise {
    width: 100%;
  }

  h2 {
    width: 20rem;
    margin-top: 20px;
    font-size: 2.5rem;
  }

  .promise {
    width: 20rem;
    font-size: 1.09rem;
    line-height: 1.5rem;
  }

  .ratings {
    width: 100%;
  }

  .rate {
    margin-left: 0 !important;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
  }

  .image {
    width: 20px;
    height: 20px;
  }

  .ratext {
    font-size: 1.1rem;
    margin-left: 0;
  }

  .down-section {
    flex-direction: column;
    align-items: center;
  }

  .review {
    width: 100%;
    font-size: 1.25rem;
  }

  .info{
    line-height: 1.5rem;
    gap: 20px;
  }

  .avatar{
    width: 50px;
    height: 50px;
  }

  .reviexts{
    line-height: 1.5rem;
  }
}
