:root {
  --very-Dark-Magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-Grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--light-grayish-magenta);
  color: var(--very-Dark-Magenta);
  font-family: "League Spartan";
  position: relative;
  display: grid;
  place-items: center;
  min-height: 90vh;
  overflow: hidden;
}

.bg-top {
  position: absolute;
  top: -90px;
  left: -90px;
  z-index: 0;
}

.bg-bottom {
  position: absolute;
  bottom: -250px;
  right: -110px;
  z-index: 0;
}

.page {
  max-width: 750px;
  display: grid;
}

.up-section {
  display: flex;
  justify-content: space-between;
}



h2 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  width: 250px;

}

.promise {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--dark-Grayish-magenta);
  width: 300px;
}

.ratings {
  margin-top: 20px;
}

.rate {
  display: flex;
  align-items: center;
  background-color: rgb(238, 229, 238);
  padding: 0 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: fit-content;
}

.rate.one {
  margin-left: 0;
}

.rate.two {
  margin-left: 2rem;
}

.rate.three {
  margin-left: 4rem;
}

.image {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.ratext {
  margin-left: 10px;
  font-weight: 700;
  font-size: 0.7rem;
}

.down-section {
  display: flex;
  gap: 1.1rem;
  margin-top: 30px;
  align-items: flex-start;
}

.review {
  background-color: var(--very-Dark-Magenta);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.70rem;
}

.review.one {
  margin-top: 0;
}
.review.two {
  margin-top: 0.6rem;
}
.review.three {
  margin-top: 1.2rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 0.75rem;
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.name {
  color: var(--light-grayish-magenta);
}

span {
  color: var(--soft-pink);
  display: block;
}

.reviexts {
  line-height: 0.85rem;
  color: var(--light-grayish-magenta);
}
